{% extends 'base.html' %}
{% load pybo_filter %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>{{ request.user.username }}</h1>
            <p>{{ request.user.username }}'s profile</p>
        </div>
    </div>
    <div class="container">
        
    </div>
</div> <!-- /container -->


{% endblock %}